.header-top{
  background: #3465aa;
}

.header-bot .nav ul li a.active {
    color: #3465aa;
}

.welcome .btn-primary{
  background: #f48436;
  border: 1px solid #f48436;
}

.info .col-md-4:nth-child(even) .info-box {
  background: #f48436;
}

.choose .side aside, .service-left aside, .service-right aside{
  background: #3465aa;
}

.service-center .service-img::after{
  background: #f48436;
}

.med-go h1 {
    color: #3465aa;
}

.contact-box{
  background: #2c65b1;
}
