body{
  background: #fff;
  /*min-height: 10000px;*/
}

.sec{
  padding: 50px 20px;
}

.btn-primary{
  background: #7ac0cd;
  border: 1px solid #7ac0cd;
}

.sec .header-span{
  color: #77c0cc;
  font-size: 16px;
}

.sec .header-span strong{
  color: #f47923;
}

.sec .header-span + h3{
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 30px;
}
